# Build outputs
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS / VS Code
.vs/
.idea/
.vscode/

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nuget.props
*.nuget.targets

# .NET local tools and caches
.dotnet/

# macOS
.DS_Store

# Logs
*.log
